h1,
h2,
h3 {
    color: #145a9b;
}

  .texto {
    overflow-y: auto; /* Adiciona rolagem vertical */
    height: 100vh; /* Define a altura como a altura da viewport */
    padding: 20px; /* Espaço ao redor do conteúdo */
    box-sizing: border-box;
  }

  .view-main {
    overflow-y: auto;
    height: 100vh;
}

