root {
    --branco: #ffff;
    --gelo: #f1f1f1;
    --azul: #18436b;
    --roxo: rgba(68, 3, 110, 0.555);
    --preto: #000000;
}



.toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.game-detalhe {
    background: var(--gelo);
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.game-detalhe img {
    max-width: 400px;
}

.buttons-top {
    display: flex;
    width: 100%;
    position: absolute;
    top: 20px;
    justify-content: space-between;
    align-items: center;
}

.buttons-top a {
    width: 40px;
    height: 40px;
    background: var(--branco);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--preto);
    border: 1px solid var(--gelo);
    font-size: 30px;

}

.buttons-top a:first-child {
    margin-left: 20px;
    margin-right: auto;
}

.game-content {
    margin-top: -50px;
    background: var(--branco);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    z-index: 99;

}

.line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

.line b {
    font-size: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;

}

