:root {
    --branco: #ffff;
    --gelo: #f1f1f1;
    --azul: #18436b;
    --roxo: rgba(68, 3, 110, 0.555);
    --preto: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: "Bebas Neue", sans-serif;
}

.toolbar {
    height: 80px;
}

.tab-link {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.toolbar-inner {
    background: var(--branco);
    border: 1px solid var(--gelo);
}

.toolbar-inner .link {
    flex: 1;
    height: 80px;
    line-height: 25px;
    font-weight: bold;
    color: var(--azul);
}

.toolbar-inner .link:not(.active) {
    color: var(--preto);
    font-weight: normal;
}

.toolbar-inner>.link i {
    font-size: 28px;
}

.top-nav {
    text-align: center;
    padding: 2px 0;
    height: auto;
    overflow: hidden;
}


form {
    padding-top: 5px;
    background: var(--branco);
    padding-bottom: 20px;
    position: relative;
    margin-top: 5px;
}

input[type="text"] {
    width: 90%;
    height: 45px;
    border-radius: 10px;
    margin: auto;
    padding: 10px 20px;
    background: var(--gelo);
}

.imagem-logo {
    display: block;
    width: 100px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 5px;
    object-fit: contain;
}

.imagem-logo2 {
    display: block;
    width: 100px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 5px;
    object-fit: contain;
}

::placeholder {
    color: #b3afaf;
}

.icone-busca {
    position: absolute;
    top: -7%;
    right: 5%;
    font-size: 27px;
    padding: 13px;
}

.page-content {
    background: var(--branco);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-fluid {
    max-width: 100%;
}

.block {
    margin-left: 5%;
    margin-right: 5%;
}

.filter-btn {
    width: 100%;
    height: 35px;
    background: none;
    border: 2px solid var(--preto);
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: block;
    padding: 0 10px;
}

.filter-btn.active {
    background-color: #2188e9;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.filter-btn.active:hover {
    background-color: #186bb5;
}

.row {
    flex-wrap: wrap;
    flex-direction: row;
}

.jogo {
    color: var(--preto);

}

.jogo-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 200px;
    flex: 45%;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 20px;
    justify-content: space-around;

}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: var(--gelo);

}

.nome-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.title-jogo {
    text-align: center;
}

@media (max-width: 300px) {
    #jogos {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (min-width:992px) {
    .jogo-card {
        flex: 30%
    }
}

@media (min-width:1200px) {
    .jogo-card {
        flex: 20%
    }
}



.button-veja-todas {
    display: inline-block;
    background-color: #2188e9;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.button-veja-todas:hover {
    background-color: #176ab6;
}